.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
  padding:5px;
  border-radius: 10%;
  box-shadow: inset 0 0 20px 20px #2A0E4F;
}

