.getStartedButton {
  width: 250px;
  display: inline-block;
  padding: 15px 40px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #2A0E4F; 
  border: 2px solid #bc13fe; 
  border-radius: 50px; 
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 10px #bc13fe, inset 0 0 5px #bc13fe;
}
.getStartedButton:hover {
  background-color: #bc13fe;
  color: #fff;
  box-shadow: 0 0 50px #bc13fe;
}
.logoContainer {
  display: flex;
  text-align: center;
  margin-bottom: 30px;
}
.logo {
  size: 50px;
  width: 150px;
}