body {
  margin: 0;
  padding: 0;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: #2A0E4F;
}
* {
  box-sizing: border-box;
  width: 100%;
}
